.navbar-brand .header-icon {
  position: relative;
  top: -7px;
  float: left;
}
@media screen and (max-width: 600px) {
  .navbar-brand .header-icon {
    display: none;
  }
}
.navbar-brand .header-icon img {
  max-height: 35px;
}
.fixed-top {
  position: fixed;
  top: 0px;
  z-index: 100;
  right: 20px;
  background-color: white;
}
.fixed-top-under {
  padding-top: 150px;
}
.sca-menutab {
  border-bottom: 1px solid #ccc;
  background-color: white;
}
.sca-menutab ul {
  list-style: none;
  padding-left: 0px;
  margin-bottom: 0px;
}
.sca-menutab ul li {
  font-size: 95%;
  font-weight: bold;
  display: inline-block;
  padding: 10px;
  border-bottom: 3px solid white;
  cursor: pointer;
  color: #aaa;
  transition: border-color 0.5s ease-in-out;
}
.sca-menutab ul li:hover {
  border-color: #008cba;
  /*color: #555;*/
}
.sca-menutab ul li.active {
  border-color: #008cba;
  color: #008cba;
}
.sca-menutab ul li:not(:first-child) {
  /*
                border-left: 1px solid gray;
                */
}
nav.sca-menubar {
  margin-bottom: 0px;
}
.sca-sidemenu .sca-sidemenu-content {
  padding-left: 200px;
}
.sca-sidemenu .sca-sidemenu-menu {
  overflow: auto;
  font-size: 12px;
  font-weight: 200;
  background-color: #444;
  position: fixed;
  top: 45px;
  bottom: 0px;
  width: 200px;
  color: #fff;
}
.sca-sidemenu .sca-sidemenu-menu .menu-list .menu-content {
  display: block;
}
@media (max-width: 767px) {
  .sca-sidemenu .sca-sidemenu-menu {
    display: none;
  }
}
.sca-sidemenu .sca-sidemenu-menu .toggle-btn {
  display: none;
}
.sca-sidemenu .sca-sidemenu-menu ul,
.sca-sidemenu .sca-sidemenu-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
}
.sca-sidemenu .sca-sidemenu-menu ul :not(collapsed) .arrow:before,
.sca-sidemenu .sca-sidemenu-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.sca-sidemenu .sca-sidemenu-menu ul .active,
.sca-sidemenu .sca-sidemenu-menu li .active {
  border-left: 3px solid #008cba;
}
.sca-sidemenu .sca-sidemenu-menu ul .sub-menu li.active,
.sca-sidemenu .sca-sidemenu-menu li .sub-menu li.active {
  background-color: #222;
}
.sca-sidemenu .sca-sidemenu-menu ul .sub-menu li.active a,
.sca-sidemenu .sca-sidemenu-menu li .sub-menu li.active a {
  /* color: #008cba;*/
}
.sca-sidemenu .sca-sidemenu-menu ul .sub-menu li,
.sca-sidemenu .sca-sidemenu-menu li .sub-menu li {
  background-color: #333;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #2a2a2a;
  margin-left: 0px;
}
.sca-sidemenu .sca-sidemenu-menu ul .sub-menu li:hover,
.sca-sidemenu .sca-sidemenu-menu li .sub-menu li:hover {
  background-color: #272727;
}
.sca-sidemenu .sca-sidemenu-menu ul .sub-menu li:before,
.sca-sidemenu .sca-sidemenu-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.sca-sidemenu .sca-sidemenu-menu li {
  padding-left: 0px;
  border-left: 3px solid #444;
  border-bottom: 1px solid #333;
}
.sca-sidemenu .sca-sidemenu-menu li a {
  text-decoration: none;
  color: white;
}
.sca-sidemenu .sca-sidemenu-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.sca-sidemenu .sca-sidemenu-menu li:hover {
  border-left: 3px solid #555;
  background-color: #555;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.sca-breadcrumb {
  background-color: white;
  box-shadow: 0px 3px 2px #ddd;
  padding-top: 0px;
  height: 40px;
}
.sca-breadcrumb ul {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-left: 5px;
}
.sca-breadcrumb ul li {
  display: inline-block;
  margin: 0px;
  padding: 10px;
  color: #ccc;
}
.sca-breadcrumb ul li:hover {
  background-color: #ddd;
  color: white;
  cursor: pointer;
}
.sca-breadcrumb ul li.bread-active {
  color: #008cba;
}
.sca-sidebar {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 999;
  height: 100%;
  background-color: #eee;
  border-right: 1px solid #ddd;
  text-align: center;
}
.sca-sidebar .subbar-opener {
  display: none;
}
.sca-sidebar [onclick] {
  cursor: pointer;
}
.sca-sidebar .menu {
  width: 80px;
  transition: 0.5s ease all;
  margin: 0px;
  padding: 10px 0px;
  font-size: 8pt;
  cursor: pointer;
  color: #666;
}
.sca-sidebar .menu h2 {
  color: #878787;
  font-weight: bold;
  font-size: 21px;
}
.sca-sidebar .menu h3 {
  margin-top: 0;
  margin-bottom: 5px;
  color: #666;
  text-transform: uppercase;
  font-size: 18px;
}
.sca-sidebar .menu .label {
  font-size: inherit;
  color: inherit;
}
.sca-sidebar .menu:hover {
  background-color: #ddd;
  color: #008cba;
}
.sca-sidebar .menu:hover h3 {
  color: #008cba;
}
.sca-sidebar .menu.active {
  background-color: #008cba;
  color: white;
}
.sca-sidebar .menu.active h3 {
  color: white;
}
.sca-sidebar .bottom {
  position: fixed;
  bottom: 0px;
  width: 80px;
}
.sca-sidebar hr {
  margin: 5px 0px;
}
.sca-sidebar-page {
  padding-left: 80px;
}
.sca-sidebar-page .subbar {
  position: fixed;
  top: 0;
  left: 80px;
  z-index: 998;
  width: 350px;
  height: 100%;
  border-right: 1px solid #ddd;
}
.sca-sidebar-page .subbar h2 {
  font-size: 21px;
  font-weight: 400;
  color: #888;
  text-transform: uppercase;
}
.sca-sidebar-page .subbar .subbar-list {
  overflow-x: hidden;
  overflow-y: auto;
  width: 349px;
  position: fixed;
  top: 130px;
  bottom: 0px;
}
.sca-sidebar-page .subbar .subbar-list .subbar-list-item {
  padding: 3px 20px;
  box-sizing: border-box;
  border: 3px solid transparent;
  /*border-bottom: 1px solid #eee;*/
  box-shadow: 0px -1px 1px #eee;
}
.sca-sidebar-page .subbar .subbar-list .subbar-list-item .list-header {
  font-size: 16px;
  font-weight: 400;
  color: #333;
  margin-bottom: 0px;
}
.sca-sidebar-page .subbar .subbar-list .subbar-list-item:hover {
  cursor: pointer;
  background-color: #eee;
}
.sca-sidebar-page .subbar .subbar-list .subbar-list-item.active {
  border: 3px solid #ddd;
}
.sca-sidebar-page .subbar-content {
  margin-left: 350px;
  overflow-x: hidden;
}
.sca-sidebar-page .subbar-content .fixed-top {
  left: 0px;
  right: 0px;
  margin-left: 430px;
}
.sca-sidebar-page .subbar-content .fixed-top h2 {
  padding-left: 20px;
}
@media screen and (max-width: 1000px) {
  .sca-sidebar .menu {
    width: 40px;
  }
  .sca-sidebar .label {
    display: none;
  }
  .sca-sidebar .bottom {
    width: 40px;
  }
  .sca-sidebar .subbar-opener {
    display: block;
  }
  .sca-sidebar-page {
    padding-left: 40px;
  }
  .sca-sidebar-page .subbar {
    display: none;
    background-color: #fcfcfc;
    left: 40px;
  }
  .sca-sidebar-page .subbar.subbar-shown {
    display: block;
  }
  .sca-sidebar-page .subbar-content {
    margin-left: 0px;
  }
  .sca-sidebar-page .subbar-content .fixed-top {
    margin-left: 0px;
    position: inherit;
  }
  .sca-sidebar-page .subbar-content .fixed-top h2 {
    padding-left: 15px;
  }
  .sca-sidebar-page .subbar-content .fixed-top-under {
    padding-top: 10px;
  }
  .sca-sidebar-page .margin30 {
    margin: 0px 15px;
  }
  .sca-sidebar-page .sca-sidebar-page {
    padding-left: 40px;
  }
}
