.navbar-brand .header-icon {
  position: relative;
  top: -7px;
  float: left;
}
@media screen and (max-width: 600px) {
  .navbar-brand .header-icon {
    display: none;
  }
}
.navbar-brand .header-icon img {
  max-height: 35px;
}
.sca-menutab {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}
.sca-menutab ul {
  list-style: none;
  padding-left: 0px;
  margin-bottom: 0px;
}
.sca-menutab ul li {
  font-size: 95%;
  font-weight: bold;
  display: inline-block;
  padding: 10px;
  border-bottom: 3px solid white;
  cursor: pointer;
  color: #aaa;
  transition: border-color 0.5s ease-in-out;
}
.sca-menutab ul li:hover {
  border-color: #008cba;
  /*color: #555;*/
}
.sca-menutab ul li.active {
  border-color: #008cba;
  color: #008cba;
}
.sca-menutab ul li:not(:first-child) {
  /*
                border-left: 1px solid gray;
                */
}
nav.sca-menubar {
  margin-bottom: 0px;
}
.sca-sidemenu .sca-sidemenu-content {
  padding-left: 200px;
}
.sca-sidemenu .sca-sidemenu-menu {
  overflow: auto;
  font-size: 12px;
  font-weight: 200;
  background-color: #444;
  position: fixed;
  top: 45px;
  bottom: 0px;
  width: 200px;
  color: #fff;
  /*
        @media (max-width: 767px) {
            position: relative;
            width: 100%;
            margin-bottom: 10px;
    
            .toggle-btn {
                display: block;
                cursor: pointer;
                position: absolute;
                right: 10px;
                top: 10px;
                z-index: 10 !important;
                padding: 3px;
                background-color: #ffffff;
                color: #000;
                width: 40px;
                text-align: center;
            }
        }
        @media (min-width: 767px) {
            .menu-list .menu-content {
                display: block;
            }
        }
        */
}
.sca-sidemenu .sca-sidemenu-menu .menu-list .menu-content {
  display: block;
}
@media (max-width: 767px) {
  .sca-sidemenu .sca-sidemenu-menu {
    display: none;
  }
}
.sca-sidemenu .sca-sidemenu-menu .toggle-btn {
  display: none;
}
.sca-sidemenu .sca-sidemenu-menu ul,
.sca-sidemenu .sca-sidemenu-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
}
.sca-sidemenu .sca-sidemenu-menu ul :not(collapsed) .arrow:before,
.sca-sidemenu .sca-sidemenu-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.sca-sidemenu .sca-sidemenu-menu ul .active,
.sca-sidemenu .sca-sidemenu-menu li .active {
  border-left: 3px solid #008cba;
}
.sca-sidemenu .sca-sidemenu-menu ul .sub-menu li.active,
.sca-sidemenu .sca-sidemenu-menu li .sub-menu li.active {
  background-color: #222;
}
.sca-sidemenu .sca-sidemenu-menu ul .sub-menu li.active a,
.sca-sidemenu .sca-sidemenu-menu li .sub-menu li.active a {
  /* color: #008cba;*/
}
.sca-sidemenu .sca-sidemenu-menu ul .sub-menu li,
.sca-sidemenu .sca-sidemenu-menu li .sub-menu li {
  background-color: #333;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #2a2a2a;
  margin-left: 0px;
}
.sca-sidemenu .sca-sidemenu-menu ul .sub-menu li:hover,
.sca-sidemenu .sca-sidemenu-menu li .sub-menu li:hover {
  background-color: #272727;
}
.sca-sidemenu .sca-sidemenu-menu ul .sub-menu li:before,
.sca-sidemenu .sca-sidemenu-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.sca-sidemenu .sca-sidemenu-menu li {
  padding-left: 0px;
  border-left: 3px solid #444;
  border-bottom: 1px solid #333;
}
.sca-sidemenu .sca-sidemenu-menu li a {
  text-decoration: none;
  color: white;
}
.sca-sidemenu .sca-sidemenu-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.sca-sidemenu .sca-sidemenu-menu li:hover {
  border-left: 3px solid #555;
  background-color: #555;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.sca-breadcrumb {
  background-color: white;
  box-shadow: 0px 3px 2px #ddd;
  padding-top: 8px;
  height: 60px;
}
.sca-breadcrumb ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sca-breadcrumb ul li {
  display: inline-block;
  margin: 0px;
  padding: 10px;
  color: #ccc;
}
.sca-breadcrumb ul li:hover {
  background-color: #ddd;
  color: white;
  cursor: pointer;
}
.sca-breadcrumb ul li.bread-active {
  color: #008cba;
}
